<div class="font">
    <h4 class="align-center"> Comienza a armar tu paquete hoy!</h4>
</div>

<div>
    <div style="width: 300px; margin:auto">
        <hr/>
        <button style="margin-left:75px;" type="submit"  class="btn btn-info btn-form" ng-click="buscarVuelos()"> Buscar Vuelos</button>
        <hr/>
        <button style="margin-left:75px;" type="submit" class="btn btn-info btn-form" ng-click="buscarAutos()"> Buscar Vehículos</button>
        <hr/>
        <button style="margin-left:75px;" type="submit" class="btn btn-info btn-form" ng-click="buscarHoteles()"> Buscar Hoteles</button>
        <hr/>
    </div>
</div>

